In [3]:
#API request
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': 'eb8b44e6-646b-4ad5-9c84-97d3739bde24',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [3]:
import pandas as pd

In [4]:
#This code show the data in dictionary to  table format
global df
df=pd.json_normalize(data['data'])
df['timestamp']=pd.to_datetime('now')
df.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,1,Bitcoin,BTC,bitcoin,9748,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.0,1.915914e+07,1.915914e+07,...,38.8216,3.989659e+11,NaN,2022-09-24T08:37:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026
1,1027,Ethereum,ETH,ethereum,6105,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.225029e+08,1.225029e+08,...,17.2918,1.621280e+11,NaN,2022-09-24T08:37:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026
2,825,Tether,USDT,tether,40057,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,6.795470e+10,7.015545e+10,...,7.2481,7.015905e+10,NaN,2022-09-24T08:37:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2022-09-24 08:40:07.058026
3,3408,USD Coin,USDC,usd-coin,6300,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",NaN,4.973891e+10,4.973891e+10,...,5.3048,4.973778e+10,NaN,2022-09-24T08:37:00.000Z,1027.0,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2022-09-24 08:40:07.058026
4,1839,BNB,BNB,bnb,1110,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",200000000.0,1.613373e+08,1.613373e+08,...,4.8595,5.648153e+10,NaN,2022-09-24T08:37:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026

In [5]:
#Automate the API request as store the data as csv format
def api_runner():
    global df
    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
      'start':'1',
      'limit':'5000',
      'convert':'USD'
    }
    headers = {
      'Accepts': 'application/json',
      'X-CMC_PRO_API_KEY': 'eb8b44e6-646b-4ad5-9c84-97d3739bde24',
    }

    session = Session()
    session.headers.update(headers)

    try:
      response = session.get(url, params=parameters)
      data = json.loads(response.text)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
      print(e)
    df2=pd.json_normalize(data['data'])
    df2['timestamp']=pd.to_datetime('now')
    df=df.append(df2)
    if not os.path.isfile(r'F:\prodata\api.csv'):
        df.to_csv(r'F:\prodata\api.csv',header='column_names')
    else:
        df.to_csv(r'F:\prodata\api.csv',mode='a',header=False)

In [6]:
import os
from time import time
from time import sleep

for n in range(1):
    api_runner()
    print("Api runner completed")
    sleep(60)

Api runner completed

In [7]:
df7=pd.read_csv(r'F:\prodata\api.csv')
df7.head()

,Unnamed: 0,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,0,1,Bitcoin,BTC,bitcoin,9748,2013-04-28T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",21000000.0,1.915908e+07,...,38.8578,4.010035e+11,NaN,2022-09-24T06:59:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 07:02:23.723396
1,1,1027,Ethereum,ETH,ethereum,6104,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.225018e+08,...,17.2427,1.623413e+11,NaN,2022-09-24T06:59:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 07:02:23.723396
2,2,825,Tether,USDT,tether,40050,2015-02-25T00:00:00.000Z,"['payments', 'stablecoin', 'asset-backed-stabl...",NaN,6.795470e+10,...,7.2181,7.015975e+10,NaN,2022-09-24T06:59:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2022-09-24 07:02:23.723396
3,3,3408,USD Coin,USDC,usd-coin,6300,2018-10-08T00:00:00.000Z,"['medium-of-exchange', 'stablecoin', 'asset-ba...",NaN,4.973897e+10,...,5.2833,4.974292e+10,NaN,2022-09-24T06:59:00.000Z,1027.0,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2022-09-24 07:02:23.723396
4,4,1839,BNB,BNB,bnb,1110,2017-07-25T00:00:00.000Z,"['marketplace', 'centralized-exchange', 'payme...",200000000.0,1.613373e+08,...,4.8596,5.671841e+10,NaN,2022-09-24T06:59:00.000Z,NaN,NaN,NaN,NaN,NaN,2022-09-24 07:02:23.723396

In [9]:
#Change all numbers to float
pd.set_option('display.float_format',lambda x:'%.5f'%x)

In [10]:
df.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,1,Bitcoin,BTC,bitcoin,9748,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.00000,19159137.00000,19159137.00000,...,38.82160,398965936087.29999,nan,2022-09-24T08:37:00.000Z,nan,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026
1,1027,Ethereum,ETH,ethereum,6105,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",nan,122502947.49900,122502947.49900,...,17.29180,162128041484.10999,nan,2022-09-24T08:37:00.000Z,nan,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026
2,825,Tether,USDT,tether,40057,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",nan,67954703168.01751,70155449908.74805,...,7.24810,70159046089.28000,nan,2022-09-24T08:37:00.000Z,1027.00000,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2022-09-24 08:40:07.058026
3,3408,USD Coin,USDC,usd-coin,6300,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",nan,49738909027.72639,49738909027.72639,...,5.30480,49737780511.29000,nan,2022-09-24T08:37:00.000Z,1027.00000,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2022-09-24 08:40:07.058026
4,1839,BNB,BNB,bnb,1110,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",200000000.00000,161337261.09000,161337261.09000,...,4.85950,56481533326.16000,nan,2022-09-24T08:37:00.000Z,nan,NaN,NaN,NaN,NaN,2022-09-24 08:40:07.058026

In [11]:
df3=df.groupby('name',sort=False)[['num_market_pairs','max_supply','circulating_supply']]

In [12]:
df3.head()

      num_market_pairs       max_supply  circulating_supply
0                 9748   21000000.00000      19159137.00000
1                 6105              nan     122502947.49900
2                40057              nan   67954703168.01751
3                 6300              nan   49738909027.72639
4                 1110  200000000.00000     161337261.09000
...                ...              ...                 ...
4995                 9 2200000000.00000             0.00000
4996                 9  100000000.00000             0.00000
4997                 2 1000000000.00000             0.00000
4998                 5    1000000.00000             0.00000
4999                 6              nan             0.00000

[10000 rows x 3 columns]

In [13]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.catplot(x='name',y='total_supply',hue='symbol',data=df,kind='point')

In [ ]:
sns.lineplot(x='symbol',y='quote.USD.market_cap_dominance',data=df)

In [ ]:
sns.catplot(x='name',y='total_supply',hue='symbol',data=df,kind='point')